In [15]:
# the objective of this notebook is to collect data from 2 APIs and store them as csv Files 
# The first API will be the Universalis API to collect 
# Historical market data in the consumable market in FFXIV
# The second API will be the XIVAPI to collect
# Item data and World data for the consumable market in FFXIV
# The data will be stored in csv files for further analysis

# Importing the required libraries
import requests
import json
import pandas as pd
import time
import datetime
import os
import numpy as np

# Universalis API no key required
# Setting the API Key for XIVAPI from the environment variable XIVAPI_KEY
xivapi_key = os.environ.get('XIVAPI_KEY')

# Setting the URL for the Universalis API
# https://docs.universalis.app/
univeralis_url = 'https://universalis.app/api/'

# Setting the URL for the XIVAPI
# https://xivapi.com/docs
xivapi_url = 'https://xivapi.com/'

In [16]:
#test cell to see if the API is working

import urllib.request, json

request = urllib.request.Request("http://xivapi.com/Item/1675")
request.add_header('User-Agent', '&lt;User-Agent&gt;')
data = json.loads(urllib.request.urlopen(request).read())

# I.Lv 80 Curtana
print ("I.Lv %d %s" % (data['LevelItem'], data['Name_en']))

I.Lv 80 Curtana

In [17]:
# lets start by getting the list of all the consumables in the game
# Consumables are items that can be used to provide a benefit to the player
# This includes food, potions, and other items that can be used to provide a
# temporary buff to the player
# The list of consumables will be used to collect the historical market data
# for each of the consumables
# The list of consumables will be collected from the XIVAPI
# The XIVAPI has a rate limit of 30 requests per second
# The category ID for consumables is 46
# The category ID for medicines is 44
# I can use the ItemKind.ID=5 parameter to get all items that are "Medicines & Meals"

In [18]:
import urllib.request
import json
import pandas as pd

# Initialize an empty list to store all results
all_results = []

# Initialize page to 1
page = 1

while True:
    # Make the request
    request = urllib.request.Request(f"https://xivapi.com/search?filters=ItemKind.ID=5&limit=250&page={page}&private_key={xivapi_key}")
    request.add_header('User-Agent', '&lt;User-Agent&gt;')
    data = json.loads(urllib.request.urlopen(request).read())
    # The data is a dictionary with a key of "Results" and a value of a list of dictionaries

    # Add the results to our list
    all_results.extend(data['Results'])
    # The list of dictionaries contains the data for each of the consumables
    # The data for each consumable includes the name, the ID, and the category

    # Check if there are more pages
    if 'Pagination' in data and data['Pagination']['PageNext']:
        # If there are, increment the page counter
        page += 1
    else:
        # If there aren't, break the loop
        break

# Create a dataframe with all the results
consumables_df = pd.DataFrame(all_results)

# Display the first few rows of the dataframe
print(consumables_df)

# Save the data to a csv file
consumables_df.to_csv('..\\data\\consumables.csv', index=False)

         ID                  Icon                  Name          Url UrlType  \
0      4551  /i/020000/020601.png                Potion   /Item/4551    Item
1      4552  /i/020000/020602.png             Hi-Potion   /Item/4552    Item
2      4553  /i/020000/020603.png           Mega-Potion   /Item/4553    Item
3      4554  /i/020000/020603.png              X-Potion   /Item/4554    Item
4      4555  /i/020000/020621.png                 Ether   /Item/4555    Item
...     ...                   ...                   ...          ...     ...
2703  41411  /i/029000/029780.png     Lopoceras Elegans  /Item/41411    Item
2704  41412  /i/028000/028969.png        Sidereal Whale  /Item/41412    Item
2705  41413  /i/025000/025314.png    Prime Kukuru Beans  /Item/41413    Item
2706  41414  /i/025000/025329.png  Sublime Kukuru Beans  /Item/41414    Item
2707  41419  /i/029000/029586.png      Stargilt Lobster  /Item/41419    Item

         _  _Score
0     item       0
1     item       0
2     item       0
3     item       0
4     item       0
...    ...     ...
2703  item       0
2704  item       0
2705  item       0
2706  item       0
2707  item       0

[2708 rows x 7 columns]

In [22]:
# Now that we have the list of consumables, we can use the Universalis API to collect the historical market data for each of the consumables
# The Universalis API has a rate limit of 25 requests per second
# The Universalis API provides historical market data for each of the servers in the game
# The historical market data includes the price and the quantity of the item

# First we need a nlist of all the servers in the game
# This will include Data Centers and Worlds
# The Data Centers are the larger groupings of servers based on location/region
# The Worlds are the individual servers that players can play on
# Because the Data Centers support cross-server play, we will group the data by Data Center

# https://universalis.app/api/v2/data-centers will return a list of all the data centers

data_centers = requests.get('https://universalis.app/api/v2/data-centers')


data_centers

In [23]:
data_centers = data_centers.json()
data_centers

[{'name': 'Elemental',
  'region': 'Japan',
  'worlds': [45, 49, 50, 58, 68, 72, 90, 94]},
 {'name': 'Gaia',
  'region': 'Japan',
  'worlds': [43, 46, 51, 59, 69, 76, 92, 98]},
 {'name': 'Mana',
  'region': 'Japan',
  'worlds': [23, 28, 44, 47, 48, 61, 70, 96]},
 {'name': 'Aether',
  'region': 'North-America',
  'worlds': [40, 54, 57, 63, 65, 73, 79, 99]},
 {'name': 'Primal',
  'region': 'North-America',
  'worlds': [35, 53, 55, 64, 77, 78, 93, 95]},
 {'name': 'Chaos',
  'region': 'Europe',
  'worlds': [39, 71, 80, 83, 85, 97, 400, 401]},
 {'name': 'Light',
  'region': 'Europe',
  'worlds': [33, 36, 42, 56, 66, 67, 402, 403]},
 {'name': 'Crystal',
  'region': 'North-America',
  'worlds': [34, 37, 41, 62, 74, 75, 81, 91]},
 {'name': 'Materia', 'region': 'Oceania', 'worlds': [21, 22, 86, 87, 88]},
 {'name': 'Meteor',
  'region': 'Japan',
  'worlds': [24, 29, 30, 31, 32, 52, 60, 82]},
 {'name': 'Dynamis',
  'region': 'North-America',
  'worlds': [404, 405, 406, 407]},
 {'name': 'NA Cloud DC (Beta)',
  'region': 'NA-Cloud-DC',
  'worlds': [3000, 3001]},
 {'name': '陆行鸟',
  'region': '中国',
  'worlds': [1167, 1081, 1042, 1044, 1060, 1173, 1174, 1175]},
 {'name': '莫古力',
  'region': '中国',
  'worlds': [1172, 1076, 1171, 1170, 1113, 1121, 1166, 1176]},
 {'name': '猫小胖',
  'region': '中国',
  'worlds': [1043, 1169, 1106, 1045, 1177, 1178, 1179]},
 {'name': '豆豆柴',
  'region': '中国',
  'worlds': [1192, 1183, 1180, 1186, 1201, 1068, 1064, 1187]},
 {'name': '한국', 'region': '한국', 'worlds': [2075, 2076, 2077, 2078, 2080]}]

In [24]:
#normalize the data
data_centers = pd.json_normalize(data_centers)
data_centers

,name,region,worlds
0,Elemental,Japan,"[45, 49, 50, 58, 68, 72, 90, 94]"
1,Gaia,Japan,"[43, 46, 51, 59, 69, 76, 92, 98]"
2,Mana,Japan,"[23, 28, 44, 47, 48, 61, 70, 96]"
3,Aether,North-America,"[40, 54, 57, 63, 65, 73, 79, 99]"
4,Primal,North-America,"[35, 53, 55, 64, 77, 78, 93, 95]"
5,Chaos,Europe,"[39, 71, 80, 83, 85, 97, 400, 401]"
6,Light,Europe,"[33, 36, 42, 56, 66, 67, 402, 403]"
7,Crystal,North-America,"[34, 37, 41, 62, 74, 75, 81, 91]"
8,Materia,Oceania,"[21, 22, 86, 87, 88]"
9,Meteor,Japan,"[24, 29, 30, 31, 32, 52, 60, 82]"
10,Dynamis,North-America,"[404, 405, 406, 407]"
11,NA Cloud DC (Beta),NA-Cloud-DC,"[3000, 3001]"
12,陆行鸟,中国,"[1167, 1081, 1042, 1044, 1060, 1173, 1174, 1175]"
13,莫古力,中国,"[1172, 1076, 1171, 1170, 1113, 1121, 1166, 1176]"
14,猫小胖,中国,"[1043, 1169, 1106, 1045, 1177, 1178, 1179]"
15,豆豆柴,中国,"[1192, 1183, 1180, 1186, 1201, 1068, 1064, 1187]"
16,한국,한국,"[2075, 2076, 2077, 2078, 2080]"

In [25]:
# Save the data to a csv file
data_centers.to_csv('..\\data\\data_centers.csv', index=False)

In [32]:
# Now to use https://universalis.app/api/v2/worlds to get a list of all the worlds
# This will return a list of all the worlds in the game
# This will include the World ID, and the World Name

worlds = requests.get('https://universalis.app/api/v2/worlds')
worlds

In [33]:
worlds = worlds.json()
worlds

[{'id': 21, 'name': 'Ravana'},
 {'id': 22, 'name': 'Bismarck'},
 {'id': 23, 'name': 'Asura'},
 {'id': 24, 'name': 'Belias'},
 {'id': 28, 'name': 'Pandaemonium'},
 {'id': 29, 'name': 'Shinryu'},
 {'id': 30, 'name': 'Unicorn'},
 {'id': 31, 'name': 'Yojimbo'},
 {'id': 32, 'name': 'Zeromus'},
 {'id': 33, 'name': 'Twintania'},
 {'id': 34, 'name': 'Brynhildr'},
 {'id': 35, 'name': 'Famfrit'},
 {'id': 36, 'name': 'Lich'},
 {'id': 37, 'name': 'Mateus'},
 {'id': 39, 'name': 'Omega'},
 {'id': 40, 'name': 'Jenova'},
 {'id': 41, 'name': 'Zalera'},
 {'id': 42, 'name': 'Zodiark'},
 {'id': 43, 'name': 'Alexander'},
 {'id': 44, 'name': 'Anima'},
 {'id': 45, 'name': 'Carbuncle'},
 {'id': 46, 'name': 'Fenrir'},
 {'id': 47, 'name': 'Hades'},
 {'id': 48, 'name': 'Ixion'},
 {'id': 49, 'name': 'Kujata'},
 {'id': 50, 'name': 'Typhon'},
 {'id': 51, 'name': 'Ultima'},
 {'id': 52, 'name': 'Valefor'},
 {'id': 53, 'name': 'Exodus'},
 {'id': 54, 'name': 'Faerie'},
 {'id': 55, 'name': 'Lamia'},
 {'id': 56, 'name': 'Phoenix'},
 {'id': 57, 'name': 'Siren'},
 {'id': 58, 'name': 'Garuda'},
 {'id': 59, 'name': 'Ifrit'},
 {'id': 60, 'name': 'Ramuh'},
 {'id': 61, 'name': 'Titan'},
 {'id': 62, 'name': 'Diabolos'},
 {'id': 63, 'name': 'Gilgamesh'},
 {'id': 64, 'name': 'Leviathan'},
 {'id': 65, 'name': 'Midgardsormr'},
 {'id': 66, 'name': 'Odin'},
 {'id': 67, 'name': 'Shiva'},
 {'id': 68, 'name': 'Atomos'},
 {'id': 69, 'name': 'Bahamut'},
 {'id': 70, 'name': 'Chocobo'},
 {'id': 71, 'name': 'Moogle'},
 {'id': 72, 'name': 'Tonberry'},
 {'id': 73, 'name': 'Adamantoise'},
 {'id': 74, 'name': 'Coeurl'},
 {'id': 75, 'name': 'Malboro'},
 {'id': 76, 'name': 'Tiamat'},
 {'id': 77, 'name': 'Ultros'},
 {'id': 78, 'name': 'Behemoth'},
 {'id': 79, 'name': 'Cactuar'},
 {'id': 80, 'name': 'Cerberus'},
 {'id': 81, 'name': 'Goblin'},
 {'id': 82, 'name': 'Mandragora'},
 {'id': 83, 'name': 'Louisoix'},
 {'id': 85, 'name': 'Spriggan'},
 {'id': 86, 'name': 'Sephirot'},
 {'id': 87, 'name': 'Sophia'},
 {'id': 88, 'name': 'Zurvan'},
 {'id': 90, 'name': 'Aegis'},
 {'id': 91, 'name': 'Balmung'},
 {'id': 92, 'name': 'Durandal'},
 {'id': 93, 'name': 'Excalibur'},
 {'id': 94, 'name': 'Gungnir'},
 {'id': 95, 'name': 'Hyperion'},
 {'id': 96, 'name': 'Masamune'},
 {'id': 97, 'name': 'Ragnarok'},
 {'id': 98, 'name': 'Ridill'},
 {'id': 99, 'name': 'Sargatanas'},
 {'id': 400, 'name': 'Sagittarius'},
 {'id': 401, 'name': 'Phantom'},
 {'id': 402, 'name': 'Alpha'},
 {'id': 403, 'name': 'Raiden'},
 {'id': 404, 'name': 'Marilith'},
 {'id': 405, 'name': 'Seraph'},
 {'id': 406, 'name': 'Halicarnassus'},
 {'id': 407, 'name': 'Maduin'},
 {'id': 3000, 'name': 'Cloudtest01'},
 {'id': 3001, 'name': 'Cloudtest02'},
 {'id': 1167, 'name': '红玉海'},
 {'id': 1081, 'name': '神意之地'},
 {'id': 1042, 'name': '拉诺西亚'},
 {'id': 1044, 'name': '幻影群岛'},
 {'id': 1060, 'name': '萌芽池'},
 {'id': 1173, 'name': '宇宙和音'},
 {'id': 1174, 'name': '沃仙曦染'},
 {'id': 1175, 'name': '晨曦王座'},
 {'id': 1172, 'name': '白银乡'},
 {'id': 1076, 'name': '白金幻象'},
 {'id': 1171, 'name': '神拳痕'},
 {'id': 1170, 'name': '潮风亭'},
 {'id': 1113, 'name': '旅人栈桥'},
 {'id': 1121, 'name': '拂晓之间'},
 {'id': 1166, 'name': '龙巢神殿'},
 {'id': 1176, 'name': '梦羽宝境'},
 {'id': 1043, 'name': '紫水栈桥'},
 {'id': 1169, 'name': '延夏'},
 {'id': 1106, 'name': '静语庄园'},
 {'id': 1045, 'name': '摩杜纳'},
 {'id': 1177, 'name': '海猫茶屋'},
 {'id': 1178, 'name': '柔风海湾'},
 {'id': 1179, 'name': '琥珀原'},
 {'id': 1192, 'name': '水晶塔'},
 {'id': 1183, 'name': '银泪湖'},
 {'id': 1180, 'name': '太阳海岸'},
 {'id': 1186, 'name': '伊修加德'},
 {'id': 1201, 'name': '红茶川'},
 {'id': 1068, 'name': '黄金谷'},
 {'id': 1064, 'name': '月牙湾'},
 {'id': 1187, 'name': '雪松原'},
 {'id': 2075, 'name': '카벙클'},
 {'id': 2076, 'name': '초코보'},
 {'id': 2077, 'name': '모그리'},
 {'id': 2078, 'name': '톤베리'},
 {'id': 2080, 'name': '펜리르'}]

In [34]:
#normalize the data
worlds = pd.json_normalize(worlds)
worlds

       id          name
0      21        Ravana
1      22      Bismarck
2      23         Asura
3      24        Belias
4      28  Pandaemonium
..    ...           ...
114  2075           카벙클
115  2076           초코보
116  2077           모그리
117  2078           톤베리
118  2080           펜리르

[119 rows x 2 columns]

In [35]:
# Save the data to a csv file
worlds.to_csv('..\\data\\worlds.csv', index=False)

In [39]:
# Next we will get a list of all marketable items in the game https://universalis.app/api/v2/marketable
# This will return a list of all the itemIDs that are marketable

marketable = requests.get('https://universalis.app/api/v2/marketable')
marketable

In [40]:
marketable = marketable.json()
marketable

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1609,
 1611,
 1613,
 1614,
 1616,
 1621,
 1622,
 1625,
 1627,
 1633,
 1635,
 1636,
 1637,
 1639,
 1642,
 1643,
 1648,
 1649,
 1650,
 1657,
 1659,
 1662,
 1663,
 1666,
 1670,
 1673,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1688,
 1694,
 1697,
 1699,
 1701,
 1706,
 1708,
 1711,
 1716,
 1723,
 1728,
 1731,
 1732,
 1733,
 1736,
 1740,
 1743,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1756,
 1758,
 1764,
 1766,
 1769,
 1771,
 1776,
 1778,
 1781,
 1786,
 1796,
 1799,
 1800,
 1801,
 1803,
 1806,
 1810,
 1813,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1825,
 1827,
 1833,
 1836,
 1838,
 1840,
 1845,
 1847,
 1850,
 1855,
 1862,
 1867,
 1870,
 1871,
 1872,
 1875,
 1879,
 1882,
 1889,
 1891,
 1892,
 1893,
 1894,
 1895,
 1897,
 1899,
 1905,
 1908,
 1910,
 1915,
 1917,
 1920,
 1925,
 1932,
 1937,
 1940,
 1941,
 1942,
 1945,
 1949,
 1953,
 1958,
 1959,
 1960,
 1961,
 1963,
 1965,
 1967,
 1969,
 1971,
 1974,
 1976,
 1978,
 1981,
 1983,
 1985,
 1987,
 1995,
 1996,
 1997,
 1998,
 2000,
 2002,
 2004,
 2010,
 2011,
 2014,
 2015,
 2021,
 2023,
 2026,
 2030,
 2039,
 2041,
 2043,
 2044,
 2047,
 2048,
 2049,
 2051,
 2055,
 2056,
 2057,
 2058,
 2059,
 2061,
 2063,
 2066,
 2068,
 2069,
 2071,
 2076,
 2078,
 2083,
 2088,
 2093,
 2094,
 2097,
 2102,
 2106,
 2107,
 2108,
 2109,
 2111,
 2116,
 2118,
 2121,
 2123,
 2125,
 2130,
 2132,
 2133,
 2136,
 2139,
 2142,
 2143,
 2144,
 2145,
 2146,
 2147,
 2149,
 2151,
 2156,
 2158,
 2160,
 2166,
 2169,
 2174,
 2184,
 2185,
 2189,
 2193,
 2194,
 2201,
 2202,
 2211,
 2212,
 2219,
 2220,
 2224,
 2225,
 2226,
 2227,
 2228,
 2229,
 2230,
 2231,
 2232,
 2233,
 2234,
 2235,
 2236,
 2237,
 2238,
 2239,
 2241,
 2242,
 2244,
 2246,
 2248,
 2250,
 2257,
 2259,
 2260,
 2262,
 2264,
 2268,
 2270,
 2271,
 2278,
 2279,
 2287,
 2289,
 2290,
 2291,
 2294,
 2296,
 2298,
 2300,
 2302,
 2303,
 2304,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2320,
 2321,
 2322,
 2323,
 2324,
 2325,
 2328,
 2329,
 2330,
 2331,
 2332,
 2333,
 2334,
 2335,
 2336,
 2337,
 2338,
 2339,
 2340,
 2341,
 2342,
 2343,
 2344,
 2345,
 2346,
 2347,
 2348,
 2349,
 2350,
 2351,
 2352,
 2355,
 2356,
 2357,
 2358,
 2359,
 2360,
 2361,
 2362,
 2363,
 2364,
 2365,
 2366,
 2367,
 2368,
 2369,
 2370,
 2371,
 2372,
 2373,
 2374,
 2375,
 2376,
 2377,
 2380,
 2381,
 2382,
 2383,
 2384,
 2385,
 2386,
 2387,
 2388,
 2389,
 2390,
 2391,
 2392,
 2393,
 2394,
 2395,
 2396,
 2397,
 2398,
 2399,
 2400,
 2401,
 2402,
 2405,
 2406,
 2407,
 2408,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2415,
 2416,
 2417,
 2418,
 2419,
 2420,
 2421,
 2422,
 2423,
 2424,
 2425,
 2426,
 2427,
 2430,
 2431,
 2432,
 2433,
 2434,
 2435,
 2436,
 2437,
 2438,
 2439,
 2440,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2452,
 2453,
 2456,
 2457,
 2458,
 2459,
 2460,
 2461,
 2462,
 2463,
 2464,
 2465,
 2466,
 2467,
 2468,
 2469,
 2470,
 2471,
 2472,
 2473,
 2474,
 2475,
 2476,
 2477,
 2478,
 2481,
 2482,
 2483,
 2484,
 2485,
 2486,
 2487,
 2488,
 2489,
 2490,
 2491,
 2492,
 2493,
 2494,
 2495,
 2496,
 2497,
 2498,
 2499,
 2500,
 2501,
 2502,
 2503,
 2504,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2516,
 2517,
 2518,
 2519,
 2520,
 2521,
 2522,
 2523,
 2524,
 2525,
 2526,
 2527,
 2528,
 2529,
 2530,
 2533,
 2534,
 2535,
 2536,
 2537,
 2538,
 2539,
 2540,
 2541,
 2542,
 2543,
 2544,
 2545,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2553,
 2554,
 2555,
 2556,
 2559,
 2560,
 2561,
 2562,
 2563,
 2564,
 2565,
 2566,
 2567,
 2568,
 2569,
 2570,
 2571,
 2572,
 2573,
 2574,
 2575,
 2576,
 2577,
 2578,
 2579,
 2580,
 2581,
 2582,
 2585,
 2586,
 2587,
 2588,
 2589,
 2590,
 2591,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2630,
 2631,
 2642,
 2644,
 2650,
 2652,
 2653,
 2654,
 2655,
 2656,
 2657,
 2658,
 2660,
 2661,
 2662,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2672,
 2673,
 2675,
 2677,
 2679,
 2680,
 2682,
 2683,
 2684,
 2685,
 2687,
 2689,
 2691,
 2693,
 2695,
 2697,
 2699,
 2700,
 2702,
 2703,
 2705,
 2706,
 2708,
 2710,
 2712,
 2714,
 2719,
 2721,
 2722,
 2723,
 2725,
 2727,
 2728,
 2729,
 2731,
 2733,
 2734,
 2735,
 2737,
 2739,
 2741,
 2743,
 2745,
 2750,
 2753,
 2755,
 2757,
 2758,
 2759,
 2763,
 2765,
 2767,
 2769,
 2774,
 2776,
 2778,
 2779,
 2785,
 2786,
 2788,
 2790,
 2792,
 2794,
 2796,
 2798,
 2800,
 2802,
 2804,
 2805,
 2806,
 2808,
 2810,
 2812,
 2814,
 2816,
 2817,
 2819,
 2820,
 2821,
 2822,
 2823,
 2825,
 2827,
 2829,
 2830,
 2832,
 2834,
 2835,
 2837,
 2850,
 2852,
 2854,
 2855,
 2856,
 2857,
 2859,
 2861,
 2862,
 2870,
 2872,
 2874,
 2876,
 2878,
 2880,
 2882,
 2884,
 2886,
 2887,
 2888,
 2889,
 2891,
 2893,
 2895,
 2896,
 2906,
 2911,
 2912,
 2913,
 2915,
 2919,
 2920,
 2921,
 2922,
 2923,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2938,
 2939,
 2940,
 2941,
 2942,
 2958,
 2959,
 2960,
 2961,
 2965,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3026,
 3028,
 3030,
 3031,
 3032,
 3033,
 3036,
 3038,
 3039,
 3041,
 3043,
 3045,
 3050,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3059,
 3060,
 3062,
 3064,
 3065,
 3066,
 3068,
 3076,
 3077,
 3090,
 3092,
 3096,
 3098,
 3099,
 3100,
 3102,
 3104,
 3105,
 3106,
 3108,
 3118,
 3120,
 3121,
 3125,
 3127,
 3129,
 3130,
 3131,
 3137,
 3138,
 3140,
 3142,
 3144,
 3145,
 3146,
 3147,
 3149,
 3160,
 3162,
 3163,
 3164,
 3165,
 3167,
 3168,
 3170,
 3171,
 3172,
 3174,
 3176,
 3177,
 3178,
 3180,
 3182,
 3183,
 3185,
 3187,
 3188,
 3189,
 3190,
 3191,
 3193,
 3201,
 3203,
 3205,
 3206,
 3207,
 3208,
 3209,
 3211,
 3213,
 3215,
 3217,
 3218,
 3219,
 3229,
 3230,
 3231,
 3232,
 3233,
 3234,
 3235,
 3236,
 3237,
 3238,
 3239,
 3240,
 3241,
 3242,
 3243,
 3244,
 3248,
 3249,
 3256,
 3257,
 3258,
 3259,
 3260,
 3261,
 3274,
 3275,
 3276,
 3296,
 3297,
 3298,
 3299,
 3300,
 3301,
 3302,
 3303,
 3304,
 3305,
 3306,
 3307,
 3308,
 3309,
 3310,
 3311,
 3312,
 3313,
 3314,
 3315,
 3316,
 3317,
 3318,
 3319,
 3320,
 3321,
 3322,
 3324,
 3325,
 3327,
 3331,
 3332,
 3334,
 3336,
 3337,
 3339,
 3341,
 3342,
 3343,
 3345,
 3347,
 3348,
 3349,
 3351,
 3352,
 3354,
 3355,
 3363,
 3365,
 3367,
 3369,
 3370,
 3372,
 3377,
 3379,
 3383,
 3385,
 3386,
 3397,
 3399,
 3402,
 3404,
 3405,
 3406,
 3407,
 3408,
 3410,
 3411,
 3413,
 3415,
 3416,
 3418,
 3419,
 3420,
 3421,
 3423,
 3425,
 3426,
 3427,
 3429,
 3431,
 3442,
 3443,
 3445,
 3446,
 3447,
 3454,
 3456,
 3457,
 3467,
 3469,
 3471,
 3473,
 3475,
 3476,
 3477,
 ...]

In [42]:
# no need to normalize this data as it is a list of itemIDs
marketable_df = pd.DataFrame(marketable)
marketable_df

           0
0          2
1          3
2          4
3          5
4          6
...      ...
14532  41662
14533  41663
14534  41664
14535  41665
14536  41709

[14537 rows x 1 columns]

In [44]:
# save the data to a csv file
# with this list of marketable items we can filter our consumables list to only include items that are marketable
marketable_df.to_csv('..\\data\\marketable.csv', index=False)